.button_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: whitesmoke;
}

.button_container:hover {
  box-shadow: rgb(128, 128, 128) 4px 10px;
  transition: 0.5s;
}

.button_comp {
  outline: none;
  outline-style: none;
  background: none;
  font-weight: 700;
  border: none;
  margin: 10px 0 10px 0;
  cursor: pointer;
  padding: 5px;
}
