.name_input_container input {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  font-size: large;
  border: none;
  background: #f1f1f1;
}

.name_input_container input:focus {
  background-color: rgb(240, 240, 240);
  outline: none;
  box-shadow: rgb(128, 128, 128) 2px 5px;
  transition: 0.5s;
}
