.nav_container {
  /* position: fixed; */
  margin-top: 20px;
}

.nav_container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logout_btn {
  outline: none;
  outline-style: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
}

.logout_btn:hover {
    background-color: rgba(255, 0, 0, 0.253);
    transition: 0.5s;
    transform: scale(1.1);
    font-family: 'Roboto Mono', monospace;
}

.friend_request_btn {
    outline: none;
    outline-style: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
  }
  
  .friend_request_btn:hover {
      background-color: rgba(0, 0, 255, 0.225);
      transition: 0.5s;
      transform: scale(1.1);
      font-family: 'Roboto Mono', monospace;
  }
