.nav_container {
  /* position: fixed; */
  margin-top: 20px;
}

.nav_container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logout_btn {
  outline: none;
  outline-style: none;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  background-color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}

.logout_btn:hover {
  box-shadow: rgb(128, 128, 128) 2px 5px;
  transition: 0.5s;
}

.friend_request_btn {
  outline: none;
  outline-style: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  background-color: whitesmoke;
  font-family: "Roboto Mono", monospace;
}

.friend_request_btn:hover {
  box-shadow: rgb(128, 128, 128) 2px 5px;
  transition: 0.5s;
}
